<header class="navbar shadow-soft">
    <div class="container navbar-content">
        <a href="{{ url_for('home') }}" class="logo">
            SmartDAS <i class="fa-solid fa-eye"></i>
        </a>

        <ul class="nav-links">
            <li class="{% if request.endpoint == 'home' %}active{% endif %}"><a href="{{ url_for('home') }}">Home</a></li>
            <li class="{% if request.endpoint == 'view_history' %}active{% endif %}"><a href="{{ url_for('view_history') }}">History</a></li>
            <li class="{% if request.endpoint == 'about' %}active{% endif %}"><a href="{{ url_for('about') }}">About</a></li>
            <li class="{% if request.endpoint == 'contact' %}active{% endif %}"><a href="{{ url_for('contact') }}">Contact</a></li>
            <!-- <li><i class="fa-solid fa-volume-up audio-icon"></i></li> -->
        </ul>
    </div>
</header>
